body {
    background-color: #000;
}

h1, li {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    width: 300px;
}
.sidebar-navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar-navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar-navigation .logo img {
    width: 80px;
}
.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar nav ul li a {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    /* list-style-type:none; */
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}
.library .library-content {
    display: flex;
    justify-content: space-between;
}
.library .library-button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}
.library .library-button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}
.library .library-content .fa-plus {
    margin: 24px 10px;
}
.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}
.section-playlist .section-playlist-content {
    display: flex;
    flex-direction: column;
}
.section-playlist-content .text {
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}
.section-playlist-content .title {
    font-weight: 700;
}
.section-playlist-content .subtitle {
    font-weight: 500;
    font-size: 12px;
}
.section-playlist-content .section-playlist-button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
    cursor: pointer;
}

.sidebar .cookie {
    margin: 25px 20px;
}
.sidebar .cookie a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}
.sidebar .cookie a:hover {
    text-decoration: underline;
}
.language .language-button {
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}
.footer {
    display:flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 40px;
    background: linear-gradient(90deg, rgba(111,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.footer-anuncio {
    flex-shrink: 0;
}
.footer-title {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.footer-subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.footer-button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
    opacity: 70%;
}